.cont {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
}

.section {
	padding: 20px 20px 80px 20px; 
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	@include medium {
		margin-top: 50px;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}
	
}


.btn {
	padding: 20px 30px;
	font-family: "Gotham", sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	border-radius: 5px;
	text-decoration: none;
	border: none;
	outline: none;
	transition: .3s;
	&.primary {
		border: 2px solid transparent;
		background-color: $yellow;
		color:$mainDark;
		&:hover {
			background-color: $mainDark;
			color: $white;
			border-color:  $yellow;
		}
	}
	&.secondary {
		background-color: $mainDark;
		color: #fff;
		border: 2px solid transparent;
		&:hover {
			color:$mainDark;
			border-color: $mainDark;
			background-color: $yellow;
		}
	}
}

.socials {
	width: 260px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	.social-link {
		background-color: transparent;
		height: 40px;
		width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid $white;
		border-radius: 50%;
		color:$white;
		text-decoration: none;
		opacity: .7;
		transition: .3s;
		outline: none;
		.fab {
			transition: .3s;
		}
		&:hover {
			opacity: 1;
			background-color: $yellow;
			border-color: $yellow;
			.fab {
				color: black;
			}
		}
	}
}




// Text 
.dark {
	color: $mainDark;
}

.strong {
	color:$yellow;
}
.white {
	color: $white !important;
}

.big-text {
	font-family: "Gotham", sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 55px;
}

.medium-text {
	font-family: "GothamBook", sans-serif;
	font-size: 24px;
	font-weight: 500;
	color:$yellow;
}

.medium2-text {
	font-family: "Gotham", sans-serif;
	font-size: 30px;
	font-weight: 600;
	color:$yellow;
}

.title-text {
	font-family: "Gotham", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 55px;
	text-align: center;
	color:$yellow;
	position: relative;
	
	&.dark {
		color: $mainDark;
	}
}

.desc-text{
	font-family: "GoothamBook", sans-serif;
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	color:$white;
	text-align: center;
	margin: 0 5px;
}

.center-text {
	text-align: center;
	@include medium {
		text-align: left;
	}
}

.section-title {
	position: relative;
	z-index: 2;
	@include medium {
		margin-top: 30px;
	}
	&:after {
		position: absolute;
		top:-10px;
		left:50%;
		transform: translateX(-50%);
		text-transform: uppercase;
		font-size: 42px;
		color: $after;
		letter-spacing: 10px;
		font-family: "Gotham", sans-serif;
		font-weight: bolder;
		z-index: -1;

		@include medium {
			font-size: 96px;
		}
	}
}