.cont {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
}

.section {
	padding: 20px 20px 80px 20px; 
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	@include medium {
		margin-top: 50px;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}
	
}


.btn {
	padding: 20px 30px;
	font-family: "Gotham", sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	border-radius: 5px;
	text-decoration: none;
	border: none;
	outline: none;
	&.primary {
		background-color: $yellow;
		color:$mainDark;
	}
}

.socials {
	width: 260px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	.social-link {
		background-color: transparent;
		height: 40px;
		width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid $white;
		border-radius: 50%;
		color:$white;
		text-decoration: none;
		opacity: .7;
		transition: .3s;
		outline: none;
		&:hover {
			opacity: 1;
		}
	}
}




// Text 

.strong {
	color:$yellow;
}
.white {
	color: $white !important;
}

.big-text {
	font-family: "Gotham", sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 55px;
}

.medium-text {
	font-family: "GothamBook", sans-serif;
	font-size: 24px;
	font-weight: 500;
	color:$yellow;
}

.medium2-text {
	font-family: "Gotham", sans-serif;
	font-size: 30px;
	font-weight: 600;
	color:$yellow;
}

.title-text {
	font-family: "Gotham", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 55px;
	text-align: center;
	color:$yellow;
	&.dark {
		color: $mainDark;
	}
}

.desc-text{
	font-family: "GoothamBook", sans-serif;
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	color:$white;
	text-align: center;
}

.center-text {
	text-align: center;
	@include medium {
		text-align: left;
	}
}