.cont {
	max-width: 1420px;
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
}

.section {
	min-height: 500px;
	padding: 20px;
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	@include medium {
		margin-top: 50px;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}
	
}


.btn {
	padding: 20px 30px;
	font-family: "Gotham", sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	border-radius: 5px;
	text-decoration: none;
	outline: none;
	&.primary {
		background-color: $yellow;
		color:$mainDark;
	}
}




// Text 

.big-text {
	font-family: "Gotham", sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 55px;
}

.medium-text {
	font-family: "GothamBook", sans-serif;
	font-size: 24px;
	font-weight: 500;
	color:$yellow;
}

.medium2-text {
	font-family: "Gotham", sans-serif;
	font-size: 30px;
	font-weight: 600;
	color:$yellow;
}

.title-text {
	font-family: "Gotham", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 55px;
	text-align: center;
	color:$yellow;
}

.desc-text{
	font-family: "GoothamBook", sans-serif;
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	color:$white;
	text-align: center;
}

.center-text {
	text-align: center;
	@include medium {
		text-align: left;
	}
}