$yellow: #fdc66a;
$mainDark: #0c0c0c;
$transBlack: rgba(0,0,0,.8);

$white: #fff;
// $yellowHover: lighten(#fdc66a, 20%);
// $yellowHover2: darken(#fdc66a, 10%);
// $grey: #666666;
// $grey2: #333333;
// $bgc2: #111111;
// $titleAfter: #181818;

// paddings 
$p20: 20px;
$p10: 10px;