.about {
	background-color: $mainDark;

	.section-title {
		&:after {
			content: "About";
		}
	}

	.flex {
		
		.flex-image {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			margin-bottom: 50px;
			@include medium {
				margin-bottom: 0;
				width: 50%;
			}
			.dev-img {
				max-width: 280px;
				border-bottom: 3px solid $yellow;
				img {
					max-width: 100%;
					max-height: 100%;
					margin:auto;
					display: block;
				}
			}
			
		}
		.flex-desc {
			margin-bottom: 16px;
			display: flex;
			flex-direction: column;
			@include medium {
				max-width: 600px;
				margin-right: auto;
				width: 50%;
			}
			
			.medium2-text {
				margin-bottom: 20px;
			}
			.desc-text {
				margin-bottom: 20px;
			}
			.medium-text{
				margin-bottom: 20px;
			}
			.sign-img {
				margin-top: 20px;
				margin-bottom: 40px;
				margin: 20px auto 40px auto;
				@include medium {
					margin: 20px 0 40px 0;
				}
			}
			.btns-container {
				display: flex;
				flex-direction: column;

				@include medium {
				flex-direction: row;

				}
				.btn {
					width: 200px;
					margin: 0 auto;
					text-align: center;
					&:first-child {
						margin-bottom: 20px;
						@include medium {
							margin:0 50px 0 0;
						}
					}
				}
			}
		}
	}
}