.contact {
	background-color: $mainDark;
	.section-title {
		&:after {
			content: "Contact";
		}
	}

	.flex {
		align-items: center;
	}
	.photo {
		width: 150px;
		height: auto;
		border: 2px solid $yellow;
		border-radius: 50%;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.contact-icon {
		margin: 20px auto;

		@include medium {
			margin: 0;
		}
		.title-cont {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			color:$white;
			margin-bottom: 10px;
			cursor: pointer;
			@include medium {
				justify-content: flex-start;
			}
			.fas {
				margin-right: 20px;
				font-size: 18px;
				transition: .3s;
			}
			.desc-text {
				font-family: "Gotham",sans-serif;
				font-size: 18px;
				text-transform: uppercase;
				font-weight: 700;
				transition: .3s;
			}
		}
		.small {
			font-size: 14px;
			color: $white;
			opacity: .7;
			letter-spacing: 2px;
			transition: .3s;
			cursor: pointer;
		}
		&:hover {
			.desc-text {
				color: $yellow;
			}
			.fas {
				color: $yellow;
			}
			.small {
				opacity: 1;
				color: $white;
			}
		}
	}

	.flex {
		position: relative;
		.map {
			width: 100%;
			margin-bottom: 60px;
			max-width: 550px;
			height: 450px;
			border-radius: 5px;
			overflow: hidden;

			@include medium {
				width: 50%;
				margin-bottom: 0;
			}
			iframe {
				width: 100%;
				min-height: 400px;
				height: 450px;
			}
		}
		.contact-form {
			height: 450px;
			width: 100%;
			max-width: 550px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			
			@include medium {
				padding-left: 55px;
				width: 50%;
			}
			.form-help-message {
				color:$errorColor;
            	font-size: 12px;
            	font-style: italic;
				letter-spacing: 1.4px;
				margin-right: auto;
				margin-bottom: 20px;
            	&.hide {
               		visibility: hidden;
            	}
			}
			.input {
				width: 100%;
				padding: 10px;
				font-size: 16px;
				box-sizing: border-box;
				border-radius: 5px;
				border: 3px solid transparent;

				&.error {
					border: 3px solid $errorColor;				
				}
				&.textarea {
					height: 175px;
				}
				&.name ,&.email {
					&.verify {
						background: url('./img/verif.png');
						background-repeat: no-repeat;
						background-position: 101%;
						background-color: $white;
					}
				}
			}
			.btn {
				width: 100%;
			}
		}
		.form-sent {
			color: $yellow;
			position: absolute;
			bottom: -70px;
			left:50%;
			transform: translateX(-50%);
			display: none;
	
			&.show {
				display: block;
			}
	
			i {
				color: green;
				font-size: 24px;
			}
		}
	}
}