.features {
	background-color: $mainDark;
	.section-title {
		&:after {
			content: "Features";
		}
	}
	.single {
		position: relative;
		margin: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px;
		transition: .1s;

		&:hover {
			transform: translateY(-2px);
			-webkit-box-shadow: -5px 5px 10px 0px rgba(255, 255, 255, 0.75);
			-moz-box-shadow:    -5px 5px 10px 0px rgba(255, 255, 255, 0.75);
			box-shadow:         -5px 5px 10px 0px rgba(255, 255, 255, 0.75);
		}
		.single-img	{
			height: 120px;
			width: 120px;
			img {
				width: 100%;
			}
		}
		.single-desc {
			margin-top: 20px;
		}
	}
}