.projects {
	background-color: $bgc;

	.section-title {
		&:after {
			content: "Projects";
		}
	}

	.swiper-container {
		width: 100%;
		padding-top: 50px;
		margin-top: 80px;
		padding-bottom: 50px;
		position: relative;

		.swiper-slide {
			background-position: center;
			background-size: cover;
			width: 80%;
			background-color: $mainDark;
			overflow: hidden;
			padding: 20px 20px 30px 20px;
	
			@media(min-width: 768px) {
				width: 500px;
			}

			.slide-img {
				width: 100%;
				@include medium {
				width: 500px;

				}
				img {
					max-width: 100%;
					max-height: 100%;
					display: block;
					margin: auto;
				}
			}
	
			.details {
				color: $white;
	
				.strong {
					font-weight: 700;
				}
	
				.medium2-text {
					line-height: 38px;
					margin-top: 5px;
				}
	
				.medium-text {
					color: #fff;
					font-size: 20px;
					font-family: "GothamBook";
					line-height: 30px;
					margin-bottom: 5px;
				}
	
				.desc-text {
					text-align: left;
					line-height: 26px;
					min-height: 52px;
				}
			}
	
			.view-project {
				display: flex;
				justify-content: space-between;
				font-size: 18px;
				color: $white;
	
				.code,
				.live {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin: 10px;
					cursor: pointer;
					text-decoration: none;
					color: $white;
	
					i {
						font-size: 24px;
						padding: 10px;
					}
				}
			}
		}

		.swipe-sideways {
			position: absolute;
			top: 0;
			left: 50%;
			color: $white;
			transform: translateX(-50%);
			display: flex;

			p {
				margin: 0 20px;
			}
		}

		.swiper-pagination {
			.swiper-pagination-bullet {
				background-color: $white;
			}
	
			.swiper-pagination-bullet-active {
				background-color: $yellow;
			}
		}
	}
}